page-home {
  .object {
    position: absolute;
  }
  .van {
    top: 100%;
    left: 100%;
  }

  .move-left {
    transform: translate(-350px, 0);
    -webkit-transform: translate(-350px, 0); /** Safari & Chrome **/
    -o-transform: translate(-350px, 0); /** Opera **/
    -moz-transform: translate(-350px, 0); /** Firefox **/
  }

  .object {
    position: absolute;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
  }
}
